.form{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 0.5em;
    width: min-content;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid rgba(aliceblue, 0.2);
}
.label{
    display: flex;
    gap: 0.5em;
    place-items: center;
}
.input{
    // display: inline;

}
.button{
    width: min-content;
}